**/.git
**/.git*
**/.gitignore
**/.gitattributes

# Secrets and Environment
**/.env*
**/*.key
**/*.pem
**/secrets/
**/*.cert
**/*.crt
**/*.p12

# Dependencies
**/node_modules
**/vendor/
**/venv
**/.venv
**/.mvn
**/gradle/
**/.gradle

# Build Artifacts
**/target
**/dist
**/build
**/*.pyc
**/__pycache__
**/*.class
**/*.jar
**/*.war
**/*.ear

# Test Files
**/coverage
**/tests
**/*_test.go
**/*.test.js
**/*.spec.ts
**/junit.xml
**/.coverage
**/htmlcov/
**/test-results/

# Documentation
**/README.md
**/docs
**/*.md
**/CHANGELOG*
**/LICENSE
**/NOTICE
**/AUTHORS

# Development Tools
**/.idea
**/.vscode
**/*.swp
**/*.swo
**/.editorconfig
**/.eslintrc*
**/.prettierrc*
**/.scalafmt.conf
**/checkstyle.xml

# Temporary Files
**/*.log
**/tmp
**/*.tmp
**/.DS_Store
**/*.bak
**/*~
**/Thumbs.db

# Docker
**/docker-compose*.yml
**/.docker
**/Dockerfile*
**/.dockerignore

# Language-specific
# Java
**/.settings/
**/.project
**/.classpath
**/.factorypath

# Node.js
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.npm
**/.yarn

# Python
**/.pytest_cache/
**/.python-version
**/pip-log.txt
**/*.egg-info/

# Go
**/go.sum
**/*.exe

# IDE and Editor Specific
**/.metals/
**/.bloop/
**/.cache
**/.settings
**/.project
**/.buildpath

# Monitoring and Metrics
**/prometheus/
**/grafana/
**/metrics/